<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Food Tracker | View Details</title>

		<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}" />

	
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>

		<div class="container-fluid" id="wrapper">
			
			<div 
				style="background-image: url('../static/img/hero.jpg');" 
				class="relative bg-cover bg-center my-10 text-center shadow-lg" >
				<!-- overlay -->
				<div class="absolute top-0 bg-black opacity-50 w-full h-full"></div>
				<div class="relative">
					<div class="flex flex-col p-10">
						<h1 class="font-bold text-5xl text-white tracking-widest hover:text-gray-300">
							<a href="{{ url_for('main.index') }}">FOOD TRACKER</a>
						</h1>
						<div class="h-full mx-auto flex align-middle font-semibold text-white text-xl mt-5">
							<div class="p-5 w-72">
								<a class="px-2 hover:underline hover:text-gray-300" href="{{ url_for('main.index') }}" title="Home">Home</a>
							</div>
							<div class="p-5 w-72">
								<a class="px-2 hover:underline hover:text-gray-300" href="{{ url_for('main.add') }}" title="Add Food Item">Add Foods</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row t20">
				<div class="col-lg-4 col-lg-offset-4">
					<div class="panel panel-default">
						<div class="panel-body">
							<form action="{{ url_for('main.add_food_to_log', log_id=log.id) }}" method="POST" role="form">
							
								<div class="form-group">
									<label>Add Food</label>
									<div class="input-group">
									  <select class="form-control" name="food-select">
										  <!-- Loop though food list in database  -->
										  {% for food in foods %}      
					                        <option value="{{ food.id }}">{{ food.name }}</option>
										  {% endfor %}
					                    </select>
									  <span class="input-group-btn">
										<button type="submit" class="btn btn-primary" id="add-btn">
										  <i class="glyphicon glyphicon-plus-sign"></i> Add Food
										</button>
									  </span>
									</div>
								</div>
							
							</form>	
						</div>
					</div>
				</div>
			</div>

			<div class="row t20">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="lean-h text-black">
								<i class="glyphicon glyphicon-calendar"></i> {{ log.date.strftime('%B %d, %Y') }}
							</h3>

							<div class="row">
								<div class="col-lg-3">
									<h4 class="lean-h">
										Protein: &nbsp;<strong class="f25">{{ totals['protein'] }}</strong>
									</h4>
								</div>
								<div class="col-lg-3">
									<h4 class="lean-h">
										Carbohydrates: <strong class="f25">{{ totals['carbs'] }}</strong>
									</h4>
								</div>
								<div class="col-lg-3">
									<h4 class="lean-h">
										Fat: <strong class="f25">{{ totals['fats'] }}</strong>
									</h4>
								</div>
								<div class="col-lg-3">
									<h4 class="lean-h">
										Calories: <strong class="f25">{{ totals['calories'] }}</strong>
									</h4>
								</div>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-striped table-hover table-bordered">
								<thead>
									<tr>
										<th style="width: 5%;">#</th>
										<th>Name</th>
										<th style="width: 10%;">Protein</th>
										<th style="width: 16%;">Carbohydrates</th>
										<th style="width: 10%;">Fat</th>
										<th style="width: 12%;">Calories</th>
										<th style="width: 20%;">Actions</th>
									</tr>
								</thead>
								<tbody>
									{% for food in log.foods %}
									<tr>
										<td>{{ loop.index }}</td><td>{{ food.name }}</td><td>{{ food.proteins}}</td>
										<td>{{ food.carbs }}</td><td>{{ food.fats }}</th><td>{{ food.calories }}</td>
										<td>
											<a href="{{ url_for('main.remove_food_from_log', log_id=log.id, food_id=food.id) }}" class="btn btn-danger btn-xs">
												<i class="glyphicon glyphicon-trash"></i> Delete
											</a> 
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

		</div>

	</body>
</html>