<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Food Tracker | View Details</title>

		<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}" />

	
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>

		<div class="bg-gray-300 pt-10 h-screen" id="wrapper">
			
			<div 
				style="background-image: url('../static/img/hero.jpg');" 
				class="relative bg-cover bg-center text-center shadow-lg" >
				<!-- overlay -->
				<div class="absolute top-0 bg-black opacity-50 w-full h-full"></div>
				<div class="relative">
					<div class="flex flex-col p-10">
						<h1 class="font-bold text-5xl text-white tracking-widest hover:text-gray-300">
							<a href="{{ url_for('main.index') }}">FOOD TRACKER</a>
						</h1>
						<div class="h-full mx-auto flex align-middle font-semibold text-white text-xl mt-5">
							<div class="p-5 w-72">
								<a class="px-2 hover:underline hover:text-gray-300" href="{{ url_for('main.index') }}" title="Home">Home</a>
							</div>
							<div class="p-5 w-72">
								<a class="px-2 hover:underline hover:text-gray-300" href="{{ url_for('main.add') }}" title="Add Food Item">Add Foods</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container mx-auto my-10">
				<form action="{{ url_for('main.add_food_to_log', log_id=log.id) }}" method="POST" role="form">
					<div class="px-10 container mx-auto text-lg">
						<div class="mx-auto py-5 px-5 bg-white hover:shadow-lg shadow-md rounded-md w-3/5">
							<div class="px-2 flex flex-col items-center">
								<label class="underline text-2xl mb-5">Add Food</label>

								<div class="">
									<select class="text-xl cursor-pointer px-2 bg-gray-200 shadow-md hover:shadow-lg focus:outline-none w-64" name="food-select">
										<!-- Loop though food list in database  -->
										{% for food in foods %}      
										<option value="{{ food.id }}">{{ food.name }}</option>
										{% endfor %}
									</select>
									<span class="">
									<button 
										type="submit" 
										class="py-1 px-2 ml-5 bg-gray-500 rounded-lg hover:underline hover:text-gray-300 shadow-mg hover:shadow-lg text-white" 
										id="add-btn">
										Add Food
									</button>
									</span>
								</div>
							</div>
						</div>
					</div>	
				</form>	
			</div>

			<div class="container mx-auto my-20">
				<div class="bg-white pt-5">
					<div class="ml-2 mr-10">
						<h3 class="font-semibold text-3xl">
							{{ log.date.strftime('%B %d, %Y') }}
						</h3>

						<div class="flex justify-between my-3">
							<div class="">
								<h4 class="text-lg">
									Protein: 
									<strong 
										class="text-2xl">{{ totals['protein'] }}
									</strong>
								</h4>
							</div>
							<div class="">
								<h4 class="text-lg">
									Carbohydrates: 
									<strong 
										class="text-2xl">{{ totals['carbs'] }}
									</strong>
								</h4>
							</div>
							<div class="">
								<h4 class="text-lg">
									Fat: 
									<strong 
										class="text-2xl">{{ totals['fats'] }}
									</strong>
								</h4>
							</div>
							<div class="">
								<h4 class="text-lg">
									Calories: 
									<strong 
										class="text-2xl">{{ totals['calories'] }}
									</strong>
								</h4>
							</div>
						</div>
					</div>

					
					<div class="">
						<table class="table-auto w-full">
							<div class="">
								<thead  class="">
									<tr class="text-left">
										<th class="border-l-0 border-2 border-gray-300 pl-2 py-1">#</th>
										<th class="border-2 border-gray-300 pl-2 py-1">Name</th>
										<th class="border-2 border-gray-300 pl-2 py-1" >Protein</th>
										<th class="border-2 border-gray-300 pl-2 py-1">Carbohydrates</th>
										<th class="border-2 border-gray-300 pl-2 py-1">Fat</th>
										<th class="border-2 border-gray-300 pl-2 py-1">Calories</th>
										<th class="border-r-0 border-2 border-gray-300 pl-2 py-1">Actions</th>
									</tr>
								</thead>
							</div>
							
							<tbody>
								{% for food in log.foods %}
								<tr class="text-left">
									<td class="border-l-0 border-2 border-gray-300 pl-2 py-2">{{ loop.index }}</td>
									<td class="border-2 border-gray-300 pl-2 py-2">{{ food.name }}</td>
									<td class="border-2 border-gray-300 pl-2 py-2">{{ food.proteins}}</td>
									<td class="border-2 border-gray-300 pl-2 py-2">{{ food.carbs }}</td>
									<td class="border-2 border-gray-300 pl-2 py-2">{{ food.fats }}</th>
									<td class="border-2 border-gray-300 pl-2 py-2">{{ food.calories }}</td>
									<td class="border-r-0 border-2 border-gray-300 pl-2 py-2">
										<a 
											class="py-1 px-3 bg-gray-500 rounded-md hover:underline hover:text-gray-300 shadow-mg hover:shadow-lg text-white"
											href="{{ url_for('main.remove_food_from_log', log_id=log.id, food_id=food.id) }}">
											Delete
										</a> 
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>